/starship-os_tools/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/starship-os_tools/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/starship-os_tools/target/classes/ModuleSelector$ModuleEntry.class
/starship-os_tools/target/classes/ModuleSelector.class
/starship-os_tools/target/maven-archiver/pom.properties
/starship-os_tools/target/starship-os_tools-1.0.0.jar
