target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/dependency-reduced-pom.xml
/openjdk23/jdk-23.0.1/legal/java.base/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.compiler/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.instrument/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.logging/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.management/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.management.rmi/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.naming/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.net.http/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.rmi/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.se/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.security.jgss/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.security.sasl/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.smartcardio/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.sql/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.sql.rowset/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.xml/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.xml.crypto/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.accessibility/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.attach/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.charsets/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.compiler/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.crypto.cryptoki/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.crypto.ec/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.dynalink/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.editpad/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.graal.compiler/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.graal.compiler.management/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.hotspot.agent/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.httpserver/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.incubator.vector/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.internal.ed/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.internal.jvmstat/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.internal.le/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.internal.md/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.internal.opt/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.internal.vm.ci/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jartool/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.javadoc/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jcmd/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jconsole/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jdeps/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jdi/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jdwp.agent/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jfr/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jlink/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jpackage/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jshell/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.jstatd/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.localedata/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.management/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.management.agent/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.management.jfr/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.naming.dns/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.naming.rmi/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.net/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.nio.mapmode/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.sctp/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.security.auth/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.security.jgss/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.unsupported.desktop/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.xml.dom/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/jdk.zipfs/ADDITIONAL_LICENSE_INFO
/openjdk23/jdk-23.0.1/legal/java.base/aes.md
/openjdk23/jdk-23.0.1/legal/java.base/asm.md
/openjdk23/jdk-23.0.1/legal/java.base/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.compiler/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.desktop/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.instrument/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.logging/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.management/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.management.rmi/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.naming/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.net.http/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.prefs/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.rmi/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.scripting/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.se/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.security.jgss/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.security.sasl/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.smartcardio/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.sql/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.sql.rowset/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.xml/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.xml.crypto/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.accessibility/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.attach/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.charsets/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.compiler/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.crypto.cryptoki/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.crypto.ec/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.dynalink/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.editpad/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.graal.compiler/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.graal.compiler.management/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.hotspot.agent/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.httpserver/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.incubator.vector/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.internal.ed/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.internal.jvmstat/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.internal.le/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.internal.md/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.internal.opt/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.internal.vm.ci/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jartool/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.javadoc/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jcmd/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jconsole/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jdeps/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jdi/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jdwp.agent/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jfr/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jlink/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jpackage/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jshell/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jsobject/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.jstatd/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.localedata/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.management/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.management.agent/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.management.jfr/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.naming.dns/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.naming.rmi/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.net/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.nio.mapmode/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.sctp/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.security.auth/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.security.jgss/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.unsupported.desktop/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.xml.dom/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/jdk.zipfs/ASSEMBLY_EXCEPTION
/openjdk23/jdk-23.0.1/legal/java.xml/bcel.md
/openjdk23/jdk-23.0.1/lib/security/blocked.certs
/openjdk23/build.log
/openjdk23/jdk-23.0.1/legal/java.base/c-libutl.md
/openjdk23/jdk-23.0.1/lib/security/cacerts
/openjdk23/jdk-23.0.1/lib/server/classes.jsa
/openjdk23/jdk-23.0.1/lib/server/classes_nocoops.jsa
/openjdk23/jdk-23.0.1/include/classfile_constants.h
/openjdk23/jdk-23.0.1/lib/classlist
/openjdk23/jdk-23.0.1/legal/java.base/cldr.md
/openjdk23/jdk-23.0.1/legal/jdk.localedata/cldr.md
/openjdk23/jdk-23.0.1/legal/java.desktop/colorimaging.md
/openjdk23/jdk-23.0.1/legal/jdk.internal.md/commonmark.md
/openjdk23/jdk-23.0.1/lib/ct.sym
/openjdk23/jdk-23.0.1/lib/jfr/default.jfc
/openjdk23/jdk-23.0.1/lib/security/default.policy
/openjdk23/jdk-23.0.1/conf/security/policy/limited/default_local.policy
/openjdk23/jdk-23.0.1/conf/security/policy/unlimited/default_local.policy
/openjdk23/jdk-23.0.1/conf/security/policy/limited/default_US_export.policy
/openjdk23/jdk-23.0.1/conf/security/policy/unlimited/default_US_export.policy
/openjdk23/jdk-23.0.1/legal/jdk.javadoc/dejavufonts.md
/openjdk23/jdk-23.0.1/legal/java.xml/dom.md
/openjdk23/jdk-23.0.1/legal/jdk.dynalink/dynalink.md
/openjdk23/jdk-23.0.1/conf/security/policy/limited/exempt_local.policy
/openjdk23/jdk-23.0.1/legal/java.desktop/giflib.md
/openjdk23/jdk-23.0.1/legal/java.desktop/harfbuzz.md
/openjdk23/jdk-23.0.1/legal/java.base/icu.md
/openjdk23/jdk-23.0.1/bin/jar
/openjdk23/jdk-23.0.1/bin/jarsigner
/openjdk23/jdk-23.0.1/bin/java
/openjdk23/jdk-23.0.1/jmods/java.base.jmod
/openjdk23/jdk-23.0.1/jmods/java.compiler.jmod
/openjdk23/jdk-23.0.1/jmods/java.datatransfer.jmod
/openjdk23/jdk-23.0.1/jmods/java.desktop.jmod
/openjdk23/jdk-23.0.1/jmods/java.instrument.jmod
/openjdk23/jdk-23.0.1/jmods/java.logging.jmod
/openjdk23/jdk-23.0.1/jmods/java.management.jmod
/openjdk23/jdk-23.0.1/jmods/java.management.rmi.jmod
/openjdk23/jdk-23.0.1/jmods/java.naming.jmod
/openjdk23/jdk-23.0.1/jmods/java.net.http.jmod
/openjdk23/jdk-23.0.1/conf/security/java.policy
/openjdk23/jdk-23.0.1/jmods/java.prefs.jmod
/openjdk23/jdk-23.0.1/jmods/java.rmi.jmod
/openjdk23/jdk-23.0.1/jmods/java.scripting.jmod
/openjdk23/jdk-23.0.1/jmods/java.se.jmod
/openjdk23/jdk-23.0.1/conf/security/java.security
/openjdk23/jdk-23.0.1/jmods/java.security.jgss.jmod
/openjdk23/jdk-23.0.1/jmods/java.security.sasl.jmod
/openjdk23/jdk-23.0.1/jmods/java.smartcardio.jmod
/openjdk23/jdk-23.0.1/jmods/java.sql.jmod
/openjdk23/jdk-23.0.1/jmods/java.sql.rowset.jmod
/openjdk23/jdk-23.0.1/jmods/java.transaction.xa.jmod
/openjdk23/jdk-23.0.1/jmods/java.xml.crypto.jmod
/openjdk23/jdk-23.0.1/jmods/java.xml.jmod
/openjdk23/jdk-23.0.1/bin/javac
/openjdk23/jdk-23.0.1/bin/javadoc
/openjdk23/jdk-23.0.1/bin/javap
/openjdk23/jdk-23.0.1/include/jawt.h
/openjdk23/jdk-23.0.1/include/linux/jawt_md.h
/openjdk23/jdk-23.0.1/conf/jaxp.properties
/openjdk23/jdk-23.0.1/conf/jaxp-strict.properties.template
/openjdk23/jdk-23.0.1/bin/jcmd
/openjdk23/jdk-23.0.1/bin/jconsole
/openjdk23/jdk-23.0.1/legal/java.xml/jcup.md
/openjdk23/jdk-23.0.1/bin/jdb
/openjdk23/jdk-23.0.1/bin/jdeprscan
/openjdk23/jdk-23.0.1/bin/jdeps
/openjdk23/jdk-23.0.1/jmods/jdk.accessibility.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.attach.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.charsets.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.compiler.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.crypto.cryptoki.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.crypto.ec.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.dynalink.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.editpad.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.graal.compiler.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.graal.compiler.management.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.hotspot.agent.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.httpserver.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.incubator.vector.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.internal.ed.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.internal.jvmstat.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.internal.le.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.internal.md.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.internal.opt.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.internal.vm.ci.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jartool.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.javadoc.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jcmd.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jconsole.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jdeps.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jdi.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jdwp.agent.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jfr.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jlink.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jpackage.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jshell.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jsobject.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.jstatd.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.localedata.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.management.agent.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.management.jfr.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.management.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.naming.dns.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.naming.rmi.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.net.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.nio.mapmode.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.sctp.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.security.auth.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.security.jgss.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.unsupported.desktop.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.unsupported.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.xml.dom.jmod
/openjdk23/jdk-23.0.1/jmods/jdk.zipfs.jmod
/openjdk23/jdk-23.0.1/include/jdwpTransport.h
/openjdk23/jdk-23.0.1/lib/jexec
/openjdk23/jdk-23.0.1/bin/jfr
/openjdk23/jdk-23.0.1/bin/jhsdb
/openjdk23/jdk-23.0.1/bin/jimage
/openjdk23/jdk-23.0.1/bin/jinfo
/openjdk23/jdk-23.0.1/legal/jdk.internal.le/jline.md
/openjdk23/jdk-23.0.1/bin/jlink
/openjdk23/jdk-23.0.1/bin/jmap
/openjdk23/jdk-23.0.1/bin/jmod
/openjdk23/jdk-23.0.1/conf/management/jmxremote.access
/openjdk23/jdk-23.0.1/conf/management/jmxremote.password.template
/openjdk23/jdk-23.0.1/include/jni.h
/openjdk23/jdk-23.0.1/include/linux/jni_md.h
/openjdk23/jdk-23.0.1/legal/jdk.internal.opt/jopt-simple.md
/openjdk23/jdk-23.0.1/bin/jpackage
/openjdk23/jdk-23.0.1/legal/java.desktop/jpeg.md
/openjdk23/jdk-23.0.1/bin/jps
/openjdk23/jdk-23.0.1/legal/jdk.javadoc/jquery.md
/openjdk23/jdk-23.0.1/legal/jdk.javadoc/jqueryUI.md
/openjdk23/jdk-23.0.1/lib/jrt-fs.jar
/openjdk23/jdk-23.0.1/bin/jrunscript
/openjdk23/jdk-23.0.1/bin/jshell
/openjdk23/jdk-23.0.1/lib/jspawnhelper
/openjdk23/jdk-23.0.1/bin/jstack
/openjdk23/jdk-23.0.1/bin/jstat
/openjdk23/jdk-23.0.1/bin/jstatd
/openjdk23/jdk-23.0.1/lib/jvm.cfg
/openjdk23/jdk-23.0.1/include/jvmti.h
/openjdk23/jdk-23.0.1/include/jvmticmlr.h
/openjdk23/jdk-23.0.1/bin/jwebserver
/openjdk23/jdk-23.0.1/bin/keytool
/openjdk23/jdk-23.0.1/legal/java.desktop/lcms.md
/openjdk23/jdk-23.0.1/lib/libattach.so
/openjdk23/jdk-23.0.1/lib/libawt.so
/openjdk23/jdk-23.0.1/lib/libawt_headless.so
/openjdk23/jdk-23.0.1/lib/libawt_xawt.so
/openjdk23/jdk-23.0.1/lib/libdt_socket.so
/openjdk23/jdk-23.0.1/lib/libextnet.so
/openjdk23/jdk-23.0.1/lib/libfontmanager.so
/openjdk23/jdk-23.0.1/lib/libinstrument.so
/openjdk23/jdk-23.0.1/lib/libj2gss.so
/openjdk23/jdk-23.0.1/lib/libj2pcsc.so
/openjdk23/jdk-23.0.1/lib/libj2pkcs11.so
/openjdk23/jdk-23.0.1/lib/libjaas.so
/openjdk23/jdk-23.0.1/lib/libjava.so
/openjdk23/jdk-23.0.1/lib/libjavajpeg.so
/openjdk23/jdk-23.0.1/lib/libjawt.so
/openjdk23/jdk-23.0.1/lib/libjdwp.so
/openjdk23/jdk-23.0.1/lib/libjimage.so
/openjdk23/jdk-23.0.1/lib/libjli.so
/openjdk23/jdk-23.0.1/lib/server/libjsig.so
/openjdk23/jdk-23.0.1/lib/libjsig.so
/openjdk23/jdk-23.0.1/lib/libjsound.so
/openjdk23/jdk-23.0.1/lib/libjsvml.so
/openjdk23/jdk-23.0.1/lib/server/libjvm.so
/openjdk23/jdk-23.0.1/lib/liblcms.so
/openjdk23/jdk-23.0.1/lib/libmanagement.so
/openjdk23/jdk-23.0.1/lib/libmanagement_agent.so
/openjdk23/jdk-23.0.1/lib/libmanagement_ext.so
/openjdk23/jdk-23.0.1/lib/libmlib_image.so
/openjdk23/jdk-23.0.1/lib/libnet.so
/openjdk23/jdk-23.0.1/lib/libnio.so
/openjdk23/jdk-23.0.1/legal/java.desktop/libpng.md
/openjdk23/jdk-23.0.1/lib/libprefs.so
/openjdk23/jdk-23.0.1/lib/librmi.so
/openjdk23/jdk-23.0.1/lib/libsaproc.so
/openjdk23/jdk-23.0.1/lib/libsctp.so
/openjdk23/jdk-23.0.1/lib/libsimdsort.so
/openjdk23/jdk-23.0.1/lib/libsplashscreen.so
/openjdk23/jdk-23.0.1/lib/libsyslookup.so
/openjdk23/jdk-23.0.1/lib/libverify.so
/openjdk23/jdk-23.0.1/lib/libzip.so
/openjdk23/jdk-23.0.1/legal/java.base/LICENSE
/openjdk23/jdk-23.0.1/legal/java.compiler/LICENSE
/openjdk23/jdk-23.0.1/legal/java.datatransfer/LICENSE
/openjdk23/jdk-23.0.1/legal/java.desktop/LICENSE
/openjdk23/jdk-23.0.1/legal/java.instrument/LICENSE
/openjdk23/jdk-23.0.1/legal/java.logging/LICENSE
/openjdk23/jdk-23.0.1/legal/java.management/LICENSE
/openjdk23/jdk-23.0.1/legal/java.management.rmi/LICENSE
/openjdk23/jdk-23.0.1/legal/java.naming/LICENSE
/openjdk23/jdk-23.0.1/legal/java.net.http/LICENSE
/openjdk23/jdk-23.0.1/legal/java.prefs/LICENSE
/openjdk23/jdk-23.0.1/legal/java.rmi/LICENSE
/openjdk23/jdk-23.0.1/legal/java.scripting/LICENSE
/openjdk23/jdk-23.0.1/legal/java.se/LICENSE
/openjdk23/jdk-23.0.1/legal/java.security.jgss/LICENSE
/openjdk23/jdk-23.0.1/legal/java.security.sasl/LICENSE
/openjdk23/jdk-23.0.1/legal/java.smartcardio/LICENSE
/openjdk23/jdk-23.0.1/legal/java.sql/LICENSE
/openjdk23/jdk-23.0.1/legal/java.sql.rowset/LICENSE
/openjdk23/jdk-23.0.1/legal/java.transaction.xa/LICENSE
/openjdk23/jdk-23.0.1/legal/java.xml/LICENSE
/openjdk23/jdk-23.0.1/legal/java.xml.crypto/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.accessibility/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.attach/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.charsets/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.compiler/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.crypto.cryptoki/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.crypto.ec/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.dynalink/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.editpad/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.graal.compiler/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.graal.compiler.management/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.hotspot.agent/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.httpserver/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.incubator.vector/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.internal.ed/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.internal.jvmstat/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.internal.le/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.internal.md/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.internal.opt/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.internal.vm.ci/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jartool/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.javadoc/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jcmd/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jconsole/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jdeps/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jdi/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jdwp.agent/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jfr/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jlink/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jpackage/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jshell/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jsobject/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.jstatd/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.localedata/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.management/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.management.agent/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.management.jfr/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.naming.dns/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.naming.rmi/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.net/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.nio.mapmode/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.sctp/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.security.auth/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.security.jgss/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.unsupported/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.unsupported.desktop/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.xml.dom/LICENSE
/openjdk23/jdk-23.0.1/legal/jdk.zipfs/LICENSE
/openjdk23/jdk-23.0.1/conf/logging.properties
/openjdk23/jdk-23.0.1/conf/management/management.properties
/openjdk23/jdk-23.0.1/legal/java.desktop/mesa3d.md
/openjdk23/module.log
/openjdk23/jdk-23.0.1/lib/modules
/openjdk23/jdk-23.0.1/conf/net.properties
/openjdk23/jdk-23.0.1/legal/java.smartcardio/pcsclite.md
/openjdk23/jdk-23.0.1/legal/java.desktop/pipewire.md
/openjdk23/jdk-23.0.1/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
/openjdk23/jdk-23.0.1/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
/openjdk23/jdk-23.0.1/lib/jfr/profile.jfc
/openjdk23/jdk-23.0.1/lib/psfont.properties.ja
/openjdk23/jdk-23.0.1/lib/psfontj2d.properties
/openjdk23/jdk-23.0.1/legal/java.base/public_suffix.md
/openjdk23/jdk-23.0.1/lib/security/public_suffix_list.dat
/openjdk23/jdk-23.0.1/conf/security/policy/README.txt
/openjdk23/jdk-23.0.1/release
/openjdk23/jdk-23.0.1/bin/rmiregistry
/openjdk23/jdk-23.0.1/legal/java.xml.crypto/santuario.md
/openjdk23/jdk-23.0.1/conf/sdp/sdp.conf.template
/openjdk23/jdk-23.0.1/bin/serialver
/openjdk23/jdk-23.0.1/legal/java.base/siphash.md
/openjdk23/jdk-23.0.1/conf/sound.properties
/openjdk23/jdk-23.0.1/lib/src.zip
/openjdk23/jdk-23.0.1/legal/jdk.localedata/thaidict.md
/openjdk23/jdk-23.0.1/lib/tzdb.dat
/openjdk23/jdk-23.0.1/legal/java.base/unicode.md
/openjdk23/jdk-23.0.1/legal/java.xml/xalan.md
/openjdk23/jdk-23.0.1/legal/java.xml/xerces.md
/openjdk23/jdk-23.0.1/legal/java.desktop/xwd.md
/starship-init/init/dependency-reduced-pom.xml
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/mvnw
/mvnw.cmd
/.idea/
/boot.log
/build.log
/boot-Init.groovy.log
/build-Init.groovy.log
/build-Init.starship.log
/usb-image/install.log
/run.log
