# GRUB Configuration file

# Set the default boot entry to the first entry in the menu
set default=0

# Set the timeout before the default boot entry is selected
set timeout=15

menuentry "StarshipOS" {
  set root=(hd0,gpt2)
   linux /boot/starship root=/dev/sda3 console=ttyS0,115200 earlyprintk=serial,ttyS0,115200 loglevel=15 debug
   initrd /boot/initramfs.hd0.gz
}
