# GRUB Configuration file

# Set the default boot entry to the first entry in the menu
set default=0

# Set the timeout before the default boot entry is selected
set timeout=5

# Load the operating system kernel image and initial RAM disk
;menuentry "StarshipOS" {
;    set root=(cd)
;    multiboot /boot/starship console=tty0 console=ttyS0,115200n8 debug
;    initrd /boot/initramfs-starship.img
;}

menuentry "Starship" {
    set root=(hd0,1)
    linux /vmlinuz root=/dev/ram0 rw
    initrd /initramfs.gz
}
