# GRUB Configuration file

# Set the default boot entry to the first entry in the menu
set default=0

# Set the timeout before the default boot entry is selected
set timeout=5

menuentry "Starship" {
;    set root=(hd0,1)
    linux /starship root=/dev/ram0 rw
    initrd /initramfs.gz
}
